extends layout

block content
  .main.container.clearfix
    .row

      img.avatar.img-circle.col-span-2.col-md-offset-6.hidden-md-down(src=user.photo alt='avatar')
    br
    br
    br
    .row
      div.col-md-2
        h5.display-6.text-center #{user.username}
      div.container.preferences
        div.col-md-5
          h5 When Happy, your Music Choice is: #{user.preferences[0]}
          h5 When Sad, your Music Choice is: #{user.preferences[1]}
          h5 When Angry, your Music Choice is: #{user.preferences[2]}
          h5 When Relaxed, your Music Choice is: #{user.preferences[3]}
          h5 When Chilled, your Music Choice is: #{user.preferences[4]}
          h5
            a(href='/preferences') Click to Edit Preferences

    //-   div.col-md-6.center
    //-     p.display-6
    //-       | #{user.username}
    //-   div.col-md-6.center
    //-     p.display-6
    //-       | #{user.email}

    //- .row
    //-   .col-md-10
    //-   if(user)
    //-   h1.display-4 Welcome!
    //-     h1.display-4
    //-       | Username: 
    //-       br
    //-   hr
    //-   div.container.preferences
    //-     p When Happy, your Music Choice is: #{user.preferences[0]}
    //-     p When Sad, your Music Choice is: #{user.preferences[1]}
    //-     p When Angry, your Music Choice is: #{user.preferences[2]}
    //-     p When Relaxed, your Music Choice is: #{user.preferences[3]}
    //-     p When Chilled, your Music Choice is: #{user.preferences[4]}
    //-     h4
    //-         a(href='/preferences') Click to Edit Preferences
